-- 1. Tabla de Usuarios (Médicos, Enfermeros, Administradores)
CREATE TABLE usuarios (
    id SERIAL PRIMARY KEY,
    nombre_completo VARCHAR(150) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    password VARCHAR(255) NOT NULL,
    rol VARCHAR(20) NOT NULL CHECK (rol IN ('admin', 'medico', 'recepcion')),
    especialidad VARCHAR(100), -- Solo si el rol es 'medico'
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 2. Tabla de Pacientes (Información demográfica y de contacto)
CREATE TABLE pacientes (
    id SERIAL PRIMARY KEY,
    identificacion VARCHAR(20) UNIQUE NOT NULL, -- DNI, Cédula o Pasaporte
    nombre_completo VARCHAR(150) NOT NULL,
    fecha_nacimiento DATE NOT NULL,
    genero VARCHAR(20) CHECK (genero IN ('Masculino', 'Femenino', 'Otro')),
    telefono VARCHAR(20),
    email VARCHAR(100),
    alergias_conocidas TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 3. Tabla de Citas Médicas (Une al Paciente con el Médico y contiene el Triage)
CREATE TABLE citas_medicas (
    id SERIAL PRIMARY KEY,
    paciente_id INTEGER REFERENCES pacientes(id) ON DELETE CASCADE,
    medico_id INTEGER REFERENCES usuarios(id) ON DELETE SET NULL, -- Médico asignado
    fecha_citals backend DATE NOT NULL,
    hora_cita TIME NOT NULL,
    sintomas TEXT NOT NULL,
    prioridad VARCHAR(10) CHECK (prioridad IN ('Alta', 'Media', 'Baja')),
    requiere_asistencia BOOLEAN DEFAULT FALSE,
    diagnostico_preliminar TEXT,
    estado VARCHAR(20) DEFAULT 'pendiente' CHECK (estado IN ('pendiente', 'atendido', 'cancelado')),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Índices estratégicos para optimizar las búsquedas de la agenda
CREATE INDEX idx_citas_fecha ON citas_medicas(fecha_cita);
CREATE INDEX idx_citas_paciente ON citas_medicas(paciente_id);
CREATE INDEX idx_citas_medico ON citas_medicas(medico_id);